.elementor-19 .elementor-element.elementor-element-46433920 {
    --display: flex;
    --position: absolute;
    --min-height: 100px;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --overflow: hidden;
    --overlay-opacity: 0;
    --margin-top: 0%;
    --margin-bottom: 5%;
    --margin-left: 0%;
    --margin-right: 0%;
    --padding-top: 0%;
    --padding-bottom: 0%;
    --padding-left: 8%;
    --padding-right: 8%;
    top: 0px;
    --z-index: 95;
}

.elementor-19 .elementor-element.elementor-element-46433920:not(.elementor-motion-effects-element-type-background), .elementor-19 .elementor-element.elementor-element-46433920 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF00;
}

.elementor-19 .elementor-element.elementor-element-46433920::before, .elementor-19 .elementor-element.elementor-element-46433920 > .elementor-background-video-container::before, .elementor-19 .elementor-element.elementor-element-46433920 > .e-con-inner > .elementor-background-video-container::before, .elementor-19 .elementor-element.elementor-element-46433920 > .elementor-background-slideshow::before, .elementor-19 .elementor-element.elementor-element-46433920 > .e-con-inner > .elementor-background-slideshow::before, .elementor-19 .elementor-element.elementor-element-46433920 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before {
    --background-overlay: '';
}

body:not(.rtl) .elementor-19 .elementor-element.elementor-element-46433920 {
    left: 0px;
}

body.rtl .elementor-19 .elementor-element.elementor-element-46433920 {
    right: 0px;
}

.elementor-19 .elementor-element.elementor-element-23480c4e {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
}

.elementor-19 .elementor-element.elementor-element-3b6bfbfa {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --gap: 20px 20px;
    --row-gap: 20px;
    --column-gap: 20px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-19 .elementor-element.elementor-element-1ae332a3 {
    --display: flex;
}

.elementor-widget-image .widget-image-caption {
    color: var( --e-global-color-text );
    font-family: var( --e-global-typography-text-font-family ), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight );
}

.elementor-19 .elementor-element.elementor-element-3cdaa9d5 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --align-items: center;
    --gap: 20px 20px;
    --row-gap: 20px;
    --column-gap: 20px;
    --padding-top: 0%;
    --padding-bottom: 0%;
    --padding-left: 0%;
    --padding-right: 0%;
}

.elementor-19 .elementor-element.elementor-element-591d9ad0 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
}

.elementor-19 .elementor-element.elementor-element-591d9ad0.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-widget-nav-menu .elementor-nav-menu .elementor-item {
    font-family: var( --e-global-typography-primary-font-family ), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight );
}

.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-text );
    fill: var( --e-global-color-text );
}

.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:hover, .elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.elementor-item-active, .elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.highlighted, .elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-accent );
    fill: var( --e-global-color-accent );
}

.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before, .elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: var( --e-global-color-accent );
}

.elementor-widget-nav-menu .e--pointer-framed .elementor-item:before, .elementor-widget-nav-menu .e--pointer-framed .elementor-item:after {
    border-color: var( --e-global-color-accent );
}

.elementor-widget-nav-menu {
    --e-nav-menu-divider-color: var( --e-global-color-text );
}

.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item, .elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var( --e-global-typography-accent-font-family ), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight );
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1.elementor-element {
    --align-self: center;
    --order: -99999 /* order start hack */;
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-menu-toggle {
    margin: 0 auto;
    background-color: #02010100;
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu .elementor-item {
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 0px;
    word-spacing: 0em;
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-accent );
    fill: var( --e-global-color-accent );
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu--main .elementor-item:hover, .elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu--main .elementor-item.elementor-item-active, .elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu--main .elementor-item.highlighted, .elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-secondary );
    fill: var( --e-global-color-secondary );
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before, .elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #324A6D;
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1 .e--pointer-framed .elementor-item:before, .elementor-19 .elementor-element.elementor-element-64dd2dd1 .e--pointer-framed .elementor-item:after {
    border-color: #324A6D;
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #FFFFFF;
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1 .e--pointer-framed .elementor-item:before {
    border-width: 1px;
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1 .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 1px 1px;
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1 .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 1px 1px 0 0;
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1 .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 1px 0 0 1px;
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1 .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 1px 1px 0;
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1 .e--pointer-underline .elementor-item:after, .elementor-19 .elementor-element.elementor-element-64dd2dd1 .e--pointer-overline .elementor-item:before, .elementor-19 .elementor-element.elementor-element-64dd2dd1 .e--pointer-double-line .elementor-item:before, .elementor-19 .elementor-element.elementor-element-64dd2dd1 .e--pointer-double-line .elementor-item:after {
    height: 1px;
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 18px / 2 );
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child) {
    margin-bottom: 18px;
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu--dropdown {
    background-color: #F3F5F8;
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu--dropdown a:hover, .elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu--dropdown a.elementor-item-active, .elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #F9FAFD;
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu--dropdown a.elementor-item-active {
    background-color: #F9FAFD;
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu--dropdown .elementor-item, .elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0px;
    word-spacing: 0em;
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1 div.elementor-menu-toggle {
    color: #FFFFFF;
}

.elementor-19 .elementor-element.elementor-element-64dd2dd1 div.elementor-menu-toggle svg {
    fill: #FFFFFF;
}

.elementor-19 .elementor-element.elementor-element-302811f1 {
    --display: flex;
}

.elementor-widget-button .elementor-button {
    background-color: var( --e-global-color-accent );
    font-family: var( --e-global-typography-accent-font-family ), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight );
}

.elementor-19 .elementor-element.elementor-element-50c302e5 .elementor-button {
    background-color: var( --e-global-color-secondary );
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 0px;
    word-spacing: 0em;
    fill: #FFFFFF;
    color: #FFFFFF;
    border-style: none;
    border-radius: 100px 100px 100px 100px;
    padding: 16px 45px 16px 45px;
}

.elementor-19 .elementor-element.elementor-element-50c302e5.elementor-element {
    --flex-grow: 1;
    --flex-shrink: 0;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c.elementor-element {
    --align-self: center;
    --order: -99999 /* order start hack */;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-menu-toggle {
    margin: 0 auto;
    background-color: #02010100;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu .elementor-item {
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 0px;
    word-spacing: 0em;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--main .elementor-item:hover, .elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--main .elementor-item.elementor-item-active, .elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--main .elementor-item.highlighted, .elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-secondary );
    fill: var( --e-global-color-secondary );
}

.elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before, .elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #324A6D;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c .e--pointer-framed .elementor-item:before, .elementor-19 .elementor-element.elementor-element-4f46d11c .e--pointer-framed .elementor-item:after {
    border-color: #324A6D;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #324A6D;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before, .elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: #324A6D;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c .e--pointer-framed .elementor-item.elementor-item-active:before, .elementor-19 .elementor-element.elementor-element-4f46d11c .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: #324A6D;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c .e--pointer-framed .elementor-item:before {
    border-width: 1px;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 1px 1px;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 1px 1px 0 0;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 1px 0 0 1px;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 1px 1px 0;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c .e--pointer-underline .elementor-item:after, .elementor-19 .elementor-element.elementor-element-4f46d11c .e--pointer-overline .elementor-item:before, .elementor-19 .elementor-element.elementor-element-4f46d11c .e--pointer-double-line .elementor-item:before, .elementor-19 .elementor-element.elementor-element-4f46d11c .e--pointer-double-line .elementor-item:after {
    height: 1px;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--main .elementor-item {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c {
    --e-nav-menu-horizontal-menu-item-margin: calc( 30px / 2 );
}

.elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child) {
    margin-bottom: 30px;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--dropdown a, .elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-menu-toggle {
    color: #1C244B;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--dropdown {
    background-color: #F3F5F8;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--dropdown a:hover, .elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--dropdown a.elementor-item-active, .elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--dropdown a.highlighted {
    background-color: #F9FAFD;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--dropdown a.elementor-item-active {
    background-color: #F9FAFD;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--dropdown .elementor-item, .elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0px;
    word-spacing: 0em;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c div.elementor-menu-toggle {
    color: #FFFFFF;
}

.elementor-19 .elementor-element.elementor-element-4f46d11c div.elementor-menu-toggle svg {
    fill: #FFFFFF;
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before, .elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

@media(max-width: 1024px) {
    .elementor-19 .elementor-element.elementor-element-46433920 {
        --min-height:85px;
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 5%;
        --padding-right: 5%;
    }

    .elementor-19 .elementor-element.elementor-element-3cdaa9d5 {
        --flex-wrap: nowrap;
    }

    .elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu .elementor-item {
        font-size: 14px;
    }

    .elementor-19 .elementor-element.elementor-element-64dd2dd1 {
        --e-nav-menu-horizontal-menu-item-margin: calc( 9px / 2 );
    }

    .elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child) {
        margin-bottom: 9px;
    }

    .elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu--dropdown .elementor-item, .elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: 14px;
    }

    .elementor-19 .elementor-element.elementor-element-302811f1 {
        --flex-direction: row-reverse;
        --container-widget-width: initial;
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap-reverse;
        --flex-wrap: nowrap;
    }

    .elementor-19 .elementor-element.elementor-element-50c302e5 .elementor-button {
        font-size: 14px;
        padding: 14px 35px 14px 35px;
    }

    .elementor-19 .elementor-element.elementor-element-4f46d11c > .elementor-widget-container {
        margin: 8px 8px 8px 8px;
    }

    .elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu .elementor-item {
        font-size: 14px;
    }

    .elementor-19 .elementor-element.elementor-element-4f46d11c {
        --e-nav-menu-horizontal-menu-item-margin: calc( 8px / 2 );
    }

    .elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child) {
        margin-bottom: 8px;
    }

    .elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--dropdown .elementor-item, .elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: 14px;
    }
}

@media(max-width: 767px) {
    .elementor-19 .elementor-element.elementor-element-46433920 {
        --min-height:65px;
    }

    .elementor-19 .elementor-element.elementor-element-23480c4e {
        --justify-content: space-evenly;
        --flex-wrap: nowrap;
    }

    .elementor-19 .elementor-element.elementor-element-3b6bfbfa {
        --width: 50%;
    }

    .elementor-19 .elementor-element.elementor-element-1ae332a3 {
        --width: 100%;
    }

    .elementor-19 .elementor-element.elementor-element-3cdaa9d5 {
        --width: 50%;
        --flex-wrap: nowrap;
    }

    .elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu--dropdown a {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-19 .elementor-element.elementor-element-64dd2dd1 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 15px !important;
    }

    .elementor-19 .elementor-element.elementor-element-64dd2dd1 {
        --nav-menu-icon-size: 20px;
    }

    .elementor-19 .elementor-element.elementor-element-302811f1 {
        --width: 910px;
        --flex-direction: row;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap;
        --align-items: center;
        --flex-wrap: nowrap;
    }

    .elementor-19 .elementor-element.elementor-element-50c302e5 .elementor-button {
        font-size: 12px;
        padding: 9px 13px 9px 13px;
    }

    .elementor-19 .elementor-element.elementor-element-4f46d11c > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-19 .elementor-element.elementor-element-4f46d11c.elementor-element {
        --order: 99999 /* order end hack */;
    }

    .elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--dropdown a {
        padding-left: 34px;
        padding-right: 34px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-19 .elementor-element.elementor-element-4f46d11c .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 24px !important;
    }

    .elementor-19 .elementor-element.elementor-element-4f46d11c {
        --nav-menu-icon-size: 20px;
    }
}

@media(min-width: 768px) {
    .elementor-19 .elementor-element.elementor-element-46433920 {
        --width:100%;
    }

    .elementor-19 .elementor-element.elementor-element-23480c4e {
        --width: 1350px;
    }

    .elementor-19 .elementor-element.elementor-element-3b6bfbfa {
        --width: 29%;
    }

    .elementor-19 .elementor-element.elementor-element-3cdaa9d5 {
        --width: 60%;
    }

    .elementor-19 .elementor-element.elementor-element-591d9ad0 {
        --width: 413.172px;
    }

    .elementor-19 .elementor-element.elementor-element-302811f1 {
        --width: 100%;
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-19 .elementor-element.elementor-element-3b6bfbfa {
        --width:49%;
    }

    .elementor-19 .elementor-element.elementor-element-3cdaa9d5 {
        --width: 64%;
    }
}
